{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
  <aside class="span4">
    <section>
      {{ user.get_profile.gravatar|safe }}
      <h1>{{ user.get_full_name }}</h1>
      <span><a href="{% url user user.username %}">view my profile</a></span>
      <span>{{ user.micropost_set.count }} microposts</span>
    </section>
    <section>
      {% include "_stats.html" %}
    </section>
    <section>
      <form action="{% url new_micropost %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-large btn-primary" type="submit" name="submit" value="Post" />
      </form>
    </section>
  </aside>

  <div class="span8">
    <h3>Micropost Feed</h3>
    <ol class="microposts">
      {% for mp in user.get_profile.feed %}
      <li id="{{ mp.id }}">
        {{ mp.gravatar|safe }}
        <span class="user">
          <a href="{% url user mp.user.username %}">{{ mp.user.get_full_name }}</a>
        </span>
        <span class="content">{{ mp.content }}</span>
        <span class="timestamp">Posted {{ mp.created_at|timesince }} ago.</span>
        {% if user == mp.user %}
        <form action="{% url delete_micropost mp.id %}" method="post">
          {% csrf_token %}
          <input class="btn" type="submit" value="Delete" />
        </form>
        {% endif %}
      </li>
      {% empty %}
      <li>No microposts in your feed. Follow more talkative people!</li>
      {% endfor %}
    </ol>
  </div>
</div>
{% else %}
<div class="center hero-unit">
  <h1>Sample App</h1>

  <h2>This is the home page for the Ruby on Rails Tutorial sample application. (Adapted to Django)</h2>

  <a class="btn btn-large btn-primary" href="{% url signup %}">Sign up now!</a>
</div>

<a href="http://www.djangoproject.com/"><img alt="Django" src="{% static 'django.gif' %}" /></a>
{% endif %}
{% endblock %}
