{% extends "base.html" %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        {{ user.gravatar|safe }}
        {{ user.name }}
      </h1>
    </section>
  </aside>
  <div class="span8">
    <h3>Microposts ({{ microposts.paginator.count }})</h3>
    <ol class="microposts">
      {% for m in microposts %}
      <li>
        <span class="content">{{ m.content }}</span>
        <span class="timestamp">Posted {{ m.created_at|timesince }} ago</span>
      </li>
      {% endfor %}
    </ol>

    <div class="pagination">
      <span class="step-links">
        {% if microposts.has_previous %}
        <a href="?page={{ microposts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ microposts.number }} of {{ microposts.paginator.num_pages }}
        </span>

        {% if microposts.has_next %}
        <a href="?page={{ microposts.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}
