{% extends "base.html" %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <img src="{{ gravatar_url }}" alt="{{ user.name }}" class="gravatar" />
        {{ user.name }}
      </h1>
    </section>
  </aside>
</div>
{% endblock %}
